

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: "Poiret One";
	font-weight:700;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
	box-sizing: border-box;
}

/*
CUSTOM CSS BELOW
*/
@media screen and (min-width: 700px){
	.mobile-only { display: none;}
}


@media screen and (max-width: 700px){
	.tablet-above { display: none;}
}

* {font-family: "Poiret One";font-weight:700;}
header h1 { font-size: 48px; font-family:"Pacifico";}
header h2 { font-size: 24px; font-family:"Pacifico"; font-weight:normal;}

@media screen and (max-width: 500px){
	header a.mobile-only { display:block;}
}


.main-box {
	display: flex;
	flex-wrap:wrap;
    justify-content: center;
	align-items: center;
	width:100%;
    min-height:100vh;
	text-align:center;
	background-image:url('../img/black-and-white-body-fret-54133.jpg');
	background-size:cover;
}

.inner-box{
	background: rgba(25,25,45,.8);
	padding: 160px 15px 75px;
	width:100%;
	min-height:100%;
}

@media screen and (max-width: 700px){
	.inner-box { padding: 100px 10px 10px;}
}

header {
	width:100%;
	background-image: linear-gradient(#0a0a0a, #222, #0a0a0a, #171717, black);
	color:white;
	top:0;
	padding:25px;
	position:fixed;
}

@media screen and (max-width: 700px){
	header { display:flex; justify-content: space-between;align-items:center;}
}

header p{
	margin:10px 0;
}
footer {
	position: fixed;
	bottom:0;
	background-image: linear-gradient(#0a0a0a, #222,  black);
	color:white;
	width:100%;
	padding:15px;
}

a {
	color:White;
}
select {
	padding:10px;
	border-radius:10px;
	background: rgba(255,255,255,.2);
	font-weight:900;
	font-family:"Muli";
	margin-bottom:8px;
	color:black;
	border:2px solid white;	
}
select:hover{background-color:rgba(255,255,255,.4);}
select:focus{
	background: rgba(255,255,255,.6);
	outline:none;
	border:2px solid rgb(125,95,180);	
	color:white;
}
select option {
	color:black;
}

#fretboard{
	overflow:auto;
	white-space: nowrap;
	background: rgba(255,255,255,.6);
	padding: 15px 0;
	margin:25px 0;
	border:4px rgb(75,75,95) outset;
	border-radius:10px;
}
#fretboard {
    overflow-x: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
}
#fretboard::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}


.fret {
    display: inline-block;
	width: 40px;
	padding:10px;
	border-radius:100%;
	border: 2px solid transparent;
	margin: 2px 4px;
    color:#ccc;
}

.highlighted-fret {
	color:black;
	border: 2px solid grey;
	
}

.root-fret {

	background-color:#aaf;
	color:white;
	border: 2px solid rgb(125,95,180);

}

.selected-fret {
	color:black;
	border: 2px solid grey;
	background-color:#eee;
}

.selected-fret.root-fret {
	background-color:rgb(125,95,180);
	color:white;
	border: 2px solid #aaf;

}
.string-name {color:black;font-family:"Noto Serif";}

